@using Lykke.Service.DevCerts.Models
@model UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (!Model.CertIsRevoked)
    {


        <div class="col-md-6">
            <h2>Download certificate</h2>
            <button type="button" class="btn btn-primary" asp-page-handler="GetCert" id="download">Download</button>
            <br />
            <h3>Instructions:</h3>
            <p><a href="https://lykkex.atlassian.net/wiki/spaces/MAINTAIN/pages/523436136/How+to+import+a+certificate+for+access+to+Web+resources">How to import a certificate for access to Web resources</a></p>
        </div>


        <div class="col-md-6">
            <h2>Your password</h2>
            <div class="form-group has-feedback">
                <div id="wrapper">
                    @if (Model.CertPassword != "No password file")
                    {
                        <div class="col-md-7 ">
                            <div class="input-group">
                                <input type="password" value="@Model.CertPassword" class="form-control pwd" id="pwd" readonly>
                                <span class="input-group-btn">
                                    <button class="btn btn-default copy" type="button" data-toggle="tooltip" title="Copy password"><i class="glyphicon glyphicon glyphicon-copy"></i></button>
                                    <button class="btn btn-default reveal" type="button" data-toggle="tooltip" title="Show/hide password"><i class="glyphicon glyphicon-eye-open"></i></button>
                                </span>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-md-8">
                            <input type="text" value="@Model.CertPassword" class="form-control pwd" id="pwd" readonly>
                        </div>
                    }
                    <div class="col-md-4"><button type="button" class="btn btn-primary change-pass" id="showPwd" data-toggle="modal">Generate new password</button></div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h3>Your certificate is revoked. Please, ask in DevOps chat.</h3>
        </div>
    }

</div>

@section Scripts
    {
    <script type="text/javascript">
        $(function () {
           

            $('.copy').click(function () {
                var value = document.getElementById('pwd').value;
                copyToClipboard(value);
            });

            function copyToClipboard(text) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(text).select();
                document.execCommand("copy");
                $temp.remove();
            }

            $('[data-toggle="tooltip"]').tooltip();

            $(".reveal").on('click', function () {
                $(this).children('i').toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
                var $pwd = $(this).parents('div').children('input');
                if ($pwd.attr('type') === 'password') {
                    $pwd.attr('type', 'text');
                } else {
                    $pwd.attr('type', 'password');
                }
            });

            $('#download').click(function () {
                var url = '@this.Url.Action("GetCert", "Home")';
                window.open(url, "_blank");
            });

            $('.change-pass').click(function () {
                var $btn = $(this);
                if (!$btn.hasClass('disabled')) {
                    $btn.addClass('disabled');
                    var elemId = '@Model.RowKey';
                    if (confirm('Password will be changed.')) {
                        var url = '@this.Url.Action("ChangePassForUser", "Home", new { rowKey = Model.RowKey })';
                        console.log(url);
                        $.post(url, elemId, function (data) {
                            $btn.removeClass('disabled');
                            window.alert('Password changed. Please download updated certificate also.');
                            var pass = eval('( ' + data.Json + ')');
                            var pwd = document.getElementsByClassName('pwd');
                            $(pwd).attr('value', pass);

                        });
                    }
                }
            });
        });
    </script>
}
